@import "variables";

* {
  box-sizing: border-box;
}

html, body {
  min-height: 100vh;
  margin: 0;
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  color: #FFF;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 100;
}

h1 {
  font-size: 3em;
  position: relative;

  &:after {
    display: block;
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1px;
    background: linear-gradient(to right, #357aff, #57bfff);
  }
}

.loading-icon {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    animation: rotate 3s infinite;
    backface-visibility: hidden;
    width: 100%;
    max-width: 100px;
    margin: 20px;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg) translateZ(0) scale(1.0, 1.0);
  }
  100% {
    transform: rotate(360deg) translateZ(0) scale(1.0, 1.0);
  }
}

.noscript-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 20px;
}
