@import "variables";

html * {
  box-sizing: border-box;
}

html, body {
  margin: 0;
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
  font-family: "Roboto", sans-serif;
  color: #FFF;
  line-height: 1;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 100;
}

h1 {
  font-size: 3em;
}

.loading-icon {

  display: flex;
  align-items: center;
  justify-content: center;

  &:not([not-center]) {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  svg {
    animation: rotate 3s infinite;
    backface-visibility: hidden;
    width: 100%;
    max-width: 100px;
    margin: 20px;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg) translateZ(0) scale(1.0, 1.0);
  }
  100% {
    transform: rotate(360deg) translateZ(0) scale(1.0, 1.0);
  }
}

.noscript-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 20px;
}

.md-snackbar-container {
  line-height: 20px;
}

.md-theme-default.md-tabs>.md-tabs-navigation {
  background: linear-gradient(to right, #357aff, #57bfff);
}

.md-theme-default.md-tabs>.md-tabs-navigation .md-tab-indicator {
  background-color: #FFF !important;
}

.md-input-container:after {
  background-color: rgba(255,255,255,.87);
}

.md-input-container input, .md-input-container textarea, .md-input-container label {
  color: rgba(255,255,255,.54);

  &::placeholder {
    color: rgba(255,255,255,.54);
  }
}

.md-input-container.md-has-value input, .md-input-container.md-has-value input, .md-input-container.md-has-value textarea  {
  color: rgba(255,255,255,.87);
}

.md-theme-default.md-input-container.md-input-focused {
  label {
    color: #57bfff !important;
  }
  &:after {
    background-color: #57bfff !important;
  }
  input, textarea {
    color: #FFF !important;
    text-shadow: 0 0 0 rgba(255,255,255,.87) !important;
  }
}

.md-theme-default.md-button:not([disabled]).md-primary.md-raised {
  background: linear-gradient(to right, #357aff, #418eff);
}

#popular {
  margin-top: 40px;

  .md-select-value {
    font-size: 3em;
    font-weight: 100;
    font-family: "Roboto", sans-serif;
    height: 40px;
  }
}
