<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Blooper</title>
    <link rel="icon" type="image/png" sizes="32x32" href="/static/img/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/img/icons/favicon-16x16.png">
    <!--[if IE]><link rel="shortcut icon" href="/static/img/icons/favicon.ico"><![endif]-->
    <!-- Add to home screen for Android and modern mobile browsers -->
    <link rel="manifest" href="/static/manifest.json">
    <meta name="theme-color" content="#3eb1f6">

    <!-- Add to home screen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Blooper">
    <link rel="apple-touch-icon" href="/static/img/icons/apple-touch-icon.png">
    <link rel="mask-icon" href="/static/img/icons/safari-pinned-tab.svg" color="#3eb1f6">

    <!-- Add to home screen for Windows -->
    <meta name="msapplication-TileImage" content="/static/img/icons/mstile-150x150.png">
    <meta name="msapplication-TileColor" content="#000000">

    <!-- Webpack stuff -->
    <% for (var chunk of webpack.chunks) {
        for (var file of chunk.files) {
          if (file.match(/\.(js|css)$/)) { %>
    <link rel="<%= chunk.initial?'preload':'prefetch' %>" href="<%= htmlWebpackPlugin.files.publicPath + file %>" as="<%= file.match(/\.css$/)?'style':'script' %>"><% }}} %>

    <link href="https://fonts.googleapis.com/css?family=Roboto:100,400|Material+Icons" rel="stylesheet">
  </head>
  <body>
    <div id="app">
      <div class="loading-icon">
        <svg id="Layer_1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 356.3 356.3">
          <style>
            .st0{fill:none;stroke:#FFFFFF;stroke-width:10;stroke-miterlimit:10;}
          </style>
          <path class="st0" d="M350.7 163.9l-31.4-11.2c-3.7-20.6-11.8-39.7-23.3-56.3l14.3-30.2c-6.2-7.3-12.9-14-20.2-20.2l-30.2 14.3c-16.6-11.5-35.6-19.6-56.3-23.3L192.5 5.6c-4.8-.4-9.5-.6-14.3-.6s-9.6.2-14.3.6L152.7 37c-20.6 3.7-39.7 11.8-56.3 23.3L66.3 46.1C59 52.2 52.2 59 46.1 66.3l14.3 30.2c-11.5 16.6-19.6 35.6-23.3 56.3L5.6 163.9c-.4 4.7-.6 9.5-.6 14.3s.2 9.6.6 14.3L37 203.7c3.7 20.6 11.8 39.7 23.3 56.3L46 290.2c6.2 7.3 12.9 14 20.2 20.2l30.2-14.3c16.6 11.5 35.6 19.6 56.3 23.3l11.2 31.4c4.7.4 9.5.6 14.3.6s9.6-.2 14.3-.6l11.2-31.4c20.6-3.7 39.7-11.8 56.3-23.3l30.2 14.3c7.3-6.2 14-12.9 20.2-20.2L296.1 260c11.5-16.6 19.6-35.6 23.3-56.3l31.4-11.2c.4-4.7.6-9.5.6-14.3s-.3-9.6-.7-14.3zm-172.5 60.6c-25.6 0-46.3-20.7-46.3-46.3s20.7-46.3 46.3-46.3 46.3 20.7 46.3 46.3-20.7 46.3-46.3 46.3z"/>
        </svg>
      </div>
    </div>
    <noscript>
      <div class="noscript-overlay">
        <h2>This website requires that you have JavaScript enabled</h2>
      </div>
    </noscript>
    <%= htmlWebpackPlugin.options.serviceWorkerLoader %>
    <!-- built files will be auto injected -->
  </body>
</html>
